<!DOCTYPE html>
<html>
<head>
	<title>Dahsboard</title>
</head>
<body>
	<div id="Dahsboard">
		
	</div>
</body>
</html>
<script>
	var dd=JSON.parse('{"name":"<%=name %>","pass":"<%=pass%>"}');
</script>
<script src="./dist/dashboard.js"></script>
<link rel="stylesheet" href="./dist/dashboard.css">