<!DOCTYPE html>
<html>
<head>
	<title>Votr</title>
</head>
<body>
	<div id="cont">
		
	</div>
</body>
<script>
	var V_data=JSON.parse('{"name":"<%=name %>","email":"<%=email%>"}');
</script>
</html>
<script src="/dist/vote.js"></script>
<link rel="stylesheet" href="/dist/vote.css">